# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>Java</li>
<li>Scala</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Pandas</li>
<li>NumPy</li>
<li>Matplotlib</li>
<li>Seaborn</li>
</ol>

<table>
<tr><th> Data Science Tools</th></tr>
    <tr><td>RStudio</td><tr>
    <tr><td>ApacheSpark</td></tr>
    <tr><td>TensorFlow</td></tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
    * popular languages that Data Scientists
    * commonly used libraries used by Data Scientists
    * arithmetic expressions in python
    * Data Science tools

## Author
Elizabeth Nakiranda